body{
    margin: 0;
}
/* navigation bar css */
.sidebar{
    display: flex;
    justify-content: space-between;
    margin: 24px 120px;
}

.sidebar .features{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.btn{
    width: 164px;
    height: 44px;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

/* banner section css */

.banner{
    background-image: url(./assets/hero-bg.png);
    margin-top: 34px;
    background-size: cover;
    background-repeat: no-repeat;
   width: auto;
   height: 674px;
   text-align: center;
 }

 .banner-class{
    padding: 115px 120px;
    
 }

 .banner-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 1000px;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    color: #30b868;
 }

 .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #30b868;
    margin-right: 10px;
 }

 .banner-text h1{
    font-size: 72px;
    font-weight: bold;
    margin: 16px;
    text-transform: capitalize;
 }

 .banner-text p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;

 }

 .btn-01{
    width: 251px;
    height: 52px;
    margin-right: 16px;
    background-color: #30b868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
 }

 .btn-01 i{
    margin-left: 5px;
 }


 .btn-02{
    width: 251px;
    height: 52px;
    margin-right: 16px;
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;
 }

 .btn-02 i{
    margin-right: 5px;
 }

 /* notes section */

 .notes{
    text-align: center;
 }

 .notes .notes-container h2{
    font-size: 48px;
    font-weight: bold;
     margin-bottom: 16px;
     text-transform: capitalize;
 }

 .notes .notes-container p{
    color: #627382;
    font-size: 16px;
}

.notes-info{
    display: flex;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 44px;
    
}

.notes-card{
   
    text-align: center;
    width: 322px;
    height: 300px;
    gap: 24px;
    box-shadow:0 8px 24px rgba(0,0,0,0.08);
    padding-top: 70px;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon-circle img {
  width: 32px;
  height: 32px;
}

.notes-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-transform: capitalize;
}

.notes-card p{
    color: #627382;
    font-size: 16px;
}

/* design section */

.design-section{
  padding: 120px 0;
}
.design-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 60px;

}

.knowledge .checklist-container{
    display: flex;
    align-items: center;
    gap: 5px;
   margin: 0;
}
.knowledge{
    padding-top: 102px;
}
.knowledge .text{
    color: #30b868;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.knowledge .text01{
   color: #627382;
   font-size: 16px;

}
.knowledge h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.design-container .knowledge .main-img{
    width: 600px;
    height: 600px;
}


/* early access section */

.early-access{
    
    text-align: center;
}
.access-container{
    background-color: #F7F6F2;
    margin: 0 120px;
}
.access-container h2{
    color: #001931;
    font-size: 40px;
    padding-top: 80px;
    text-transform: capitalize;
}
.access-container .early-text{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-top: 16px;
}

.access-container i{
    margin-left: 1px;
}

.subtext {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}

