.sidebar{
    display: flex;
    justify-content: space-between;
    margin: 24px 120px;
}

.sidebar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.btn{
    width: 164px;
    height: 44px;
    background-color: #30b868;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}